/* CSS Reset */

  @import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap');
/*     font-family: 'Trispace', sans-serif; */
*{
    box-sizing: border-box;
    margin: 0;
    color: aliceblue;
   font-family: 'Trispace', sans-serif;;
}



img{
max-width: 100%;
background-size: cover;
background-repeat:no-repeat;
}

ul{
    list-style: none;
}

button{
    cursor: pointer;
}

/* CSS Reset end */
/* Nav Header */

header{
width: 90vw;

    position: absolute;
    top: 8vh;
left: 5vw;

    display: flex;
    justify-content: space-between;
}

.mobile-nav-toggle{
    display: none;
}

nav{
    background-color: rgba(128, 128, 128, 0.6620);
    display: flex; 
}

nav ul{
   display: flex; 
 gap: 1em;
  
}

nav ul li a{
text-decoration: none;
font-weight: bold;
}

nav ul li a span{
    font-weight:normal
}



/* Nav Header end*/
body{
    background-image: url(./assets/home/background-home-desktop.jpg);
    border: solid red 5px;
    height: max-content;
    z-index: 3;
}

main{
    border: solid blue 5px;
    height: max-content;
    z-index: 4;
}

.home-introduction{
    border: solid white 1px;
    display: grid;
    grid-template-rows: repeat(1fr,3);
    row-gap: 3vw;

    position: absolute;
    top: 30vh;
    width: fit-content;
    
    left: 10vw;
background: rgba(254, 253, 253, 0.263);

padding: 5vw 5vw 3vw 5vw;

margin-bottom: 5vh;
}

.home-introduction h2{
     font-family: 'Trispace', sans-serif;
     font-weight: 500;
}

.home-introduction h1{
    font-family: 'Trispace', sans-serif;
    font-size: 70px;
    font-weight: 600;
}

.home-introduction p {
    width: 40ch;
    font-family: 'Trispace', sans-serif;
    font-weight: 100;
    line-height: 1.5rem;

}

.home-explore-btn{
    position: absolute;
    top: 40%;
    left: 65%;
    width: 15rem;
    height: 15rem;
    padding: 1rem; /* Adjust padding as needed */

    color: black;
    font-size: 50px;
    border-radius: 50%;


}


footer{
    position: absolute;
    bottom: 0%;
}


/* Media Query */

@media (max-width:35em){


nav ul{

    position: fixed;
    inset: 0% 0% 0px 30%;
    flex-direction: column;
    
    padding: 30vh 2.5em;
   
    background-color: rgba(250, 63, 63, 0.342);
    /* backdrop-filter: blur(1rem); */
    z-index: 3;

    transform: translateX(100%);
}

nav ul[data-visible=true]{
    transform: translateX(0%);
    transition: transform 300ms ease-out;
}

@supports (backdrop-filter: blur(1rem)){
    nav ul{ 
        background-color: hsl(0, 0%, 100%, 0.104);
        backdrop-filter: blur(1rem);

    }
}
/*  */
/* Display the mobile-nav */
.mobile-nav-toggle{
    position: absolute;
    border: 0;
    
    background:url(./assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    
    display: block;

    width: 3em;
    aspect-ratio: 1/1;
    
    z-index: 4;
    }
}

